export envprompt=ClickHouse
export CLICKHOUSE_TESTS_SERVER_BIN_PATH=$PWD/build-rs/dbms/programs/clickhouse-server
export CLICKHOUSE_TESTS_CLIENT_BIN_PATH=$PWD/build-rs/dbms/programs/clickhouse-client
export CLICKHOUSE_TESTS_BASE_CONFIG_DIR=$PWD/etc
export CLICKHOUSE_STATELESS_QUERY_TESTS_DIR=$PWD/src/dbms/tests/queries/0_stateless
export CLICKHOUSE_STATEFUL_QUERY_TESTS_DIR=$PWD/src/dbms/tests/queries/1_stateful
export CLICKHOUSE_PERF_TESTS_DIR=$PWD/src/dbms/tests/performance

PATH_add bin
export ccls_blacklist="
    origin/
    contrib/
    dbms/tests/
"
