export envprompt=ClickHouse
export CLICKHOUSE_TESTS_SERVER_BIN_PATH=$PWD/build/programs/clickhouse-server
export CLICKHOUSE_TESTS_CLIENT_BIN_PATH=$PWD/build/programs/clickhouse-client
export CLICKHOUSE_TESTS_ODBC_BRIDGE_BIN_PATH=$PWD/build/programs/clickhouse-odbc-bridge
export CLICKHOUSE_TESTS_LIBRARY_BRIDGE_BIN_PATH=$PWD/build/programs/clickhouse-library-bridge
export CLICKHOUSE_TESTS_BASE_CONFIG_DIR=$PWD/src/programs/server
export CLICKHOUSE_STATELESS_QUERY_TESTS_DIR=$PWD/src/tests/queries/0_stateless
export CLICKHOUSE_STATEFUL_QUERY_TESTS_DIR=$PWD/src/tests/queries/1_stateful
export CLICKHOUSE_TESTS_INTEGRATION_PATH=$PWD/src/tests/integration
export CLICKHOUSE_SRC_DIR=$PWD/src/src
export CLICKHOUSE_PERF_TESTS_DIR=$PWD/src/tests/performance
export CLICKHOUSE_PORT_HTTP=8123
export CLICKHOUSE_PORT_TCP=9000


PATH_add bin
export ccls_blacklist="
    origin/
    tests/
"
