export envprompt=chorigin
export CLICKHOUSE_TESTS_SERVER_BIN_PATH=$PWD/build/dbms/programs/clickhouse-server
export CLICKHOUSE_TESTS_CLIENT_BIN_PATH=$PWD/build/dbms/programs/clickhouse-client
export CLICKHOUSE_TESTS_BASE_CONFIG_DIR=$PWD/etc

PATH_add bin
export cquery_blacklist="
    contrib/
    dbms/tests/
"
